*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightcyan;
}

header {
    padding: 10px;
}

nav {
    padding: 25px;
}

ul li {
    list-style-type: none;
}

main {
    padding-top: 10%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}